<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CSharp_Console_GameOfLife.Resources.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CSharp_Console_GameOfLife.Resources.Settings>
            <setting name="musicOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="songNR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="highlightColor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="cellColor" serializeAs="String">
                <value>7</value>
            </setting>
        </CSharp_Console_GameOfLife.Resources.Settings>
    </userSettings>
</configuration>